/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

h1, h2, h3, h4, h5, h6{
		margin:0;
		padding:0;
}

.statusbar-overlay {
    background: #000000;
}

.list-block {
   margin: 0;
}

.toolbar-inner {
	padding: 0 50px;
}

.panel {
	background: #007aff;
}

.side-panel-link-color{
	color: #fff;
	font-size:18px;
}

.page-content {
    padding-top: 55px;
}

/* new css 3-3-2017 */
.stores-block{
	width:100%;
	height:auto;
}
.feat-app{
	width:300px;
	height:auto;
	float:left;
	margin-top:0px;
	border:1px solid #ccc;
	padding:5px;
	line-height:10px;
	margin-bottom:15px;
}

.feat-app img{
	max-width: 100%;
}

.half{
	height: auto;
	background: #fff;
	font-size:35px;
	text-align:center;
	line-height:200px;
	padding:5px;
}
.half img{
	width:100%;
	display:block;
}

.no-margin{
	margin : 0px !important;
	padding: 0px !important;
}


.store-name{
	float:left;
}
.store-name h4{
		font-size:24px;
}
.store-logo{
	float:right;
}
.store-logo img{
	display:block;
	margin:33px auto;
}
.stores-content{
	height:auto;
	background:#fff;
	border-radius:5px;
	padding-bottom:10px;
	margin-top: 10px;
}
ul#store_list li{
	list-style-type:none;
	text-decoration: none;
}
.stores-star-save h6{
	font-size:16px;
	text-transform: uppercase;
}
.stores-star-save{
	margin-top:30px;
}
a.headings{
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}
.full-content-store h6{
	font-size: 18px;
	padding:0px 2px 0px 45px;
}
.full-content-store p{
	font-size: 14px;
	padding:0px 2px 0px 45px;
}
.success{
	float:left;
	padding:0px 2px 0px 45px;
	
}
.expire{
	float:right;
	text-align:right;
}


/*************/
.content-block {
    margin: 30px 0;
}