/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

h1, h2, h3, h4, h5, h6{
		margin:0;
		padding:0;
}

.statusbar-overlay {
    background: #000000;
}

.list-block {
   margin: 0;
}

.toolbar-inner {
	padding: 0 50px;
}

.panel {
	background: #007aff;
}

.side-panel-link-color{
	color: #fff;
	font-size:18px;
}

.page-content {
    padding-top: 55px;
}

/* new css 3-3-2017 */
.stores-block{
	width:100%;
	height:auto;
}
.feat-app{
	width:300px;
	height:auto;
	float:left;
	margin-top:0px;
	border:1px solid #ccc;
	padding:5px;
	line-height:10px;
	margin-bottom:15px;
}

.feat-app img{
	max-width: 100%;
}

.half{
	height: auto;
	background: #fff;
	font-size:35px;
	text-align:center;
	line-height:200px;
	padding:5px;
}
.half img{
	width:100%;
	display:block;
}

.no-margin{
	margin : 0px !important;
	padding: 0px !important;
}


.store-name{
	float:left;
}
.store-name h4{
	font-size:22px;
}
.store-logo{
	float:right;
}
.store-logo img{
	display:block;
	margin:8px auto;
}
.store-content h3{
	padding:10px !important;
	font-size:18px;
}
.store-content p{
	padding:0px 12px !important;
	margin: 0px 3px 25px -1px;
}
ul#store_list li{
	list-style-type:none;
	text-decoration: none;
}
.stores-star-save h6{
	font-size:16px;
	text-transform: uppercase;
}
.stores-star-save{
	margin-top:30px;
}
a.headings{
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}
.full-content-store h6{
	font-size: 18px;
	padding:0px 2px 0px 45px;
}
.full-content-store p{
	font-size: 14px;
	padding:0px 2px 0px 45px;
}
.success{
	float:left;
	padding:0px 2px 0px 45px;
	
}
.expire{
	float:right;
	text-align:right;
}
.main-store-content{
	background: #fff;
	border-radius:5px;
	margin-bottom:20px;
	padding-bottom:20px;
	border:1px solid #989797;
}
.inner-row-main-store-content{
	width:100%;
	height:auto;
	display:block;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
	border-bottom:1px solid #ccc;
}
.stores-heading{
	float:left;
}
.stores-heading h2{
	font-size:16px;
	padding:10px !important;
}
.save{
	float:right;
}
.save i#star-icon{
	text-align:center;
	width:100%;
	font-size: 18px;
	color: #ed1515;
}

.success h5{
	font-size:12px;
	padding: 10px !important;
}
.Expiry-date{
	float:right;
}
.Expiry-date h5{
	font-size:12px;
	margin:10px 0;
}
.stores-heading h2{
	color: #007aff !important;
}
.save h2{
	font-size: 16px;
	text-align: center;
}

@media only screen and (max-width: 900px){
.success{
	width:20%;
}
.Expiry-date{
	width:80%;
}
}


.save-logo{
    float:left;
}
.save-logo i#star-icon-save-logo {
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: #ed1515;
    margin-top:15px;
}

.main-logo-content{
    background: #fff;
    border-radius:5px;
    margin-bottom:20px;
    padding-bottom:20px;
    border:1px solid #989797;
}
.inner-row-logo-store-content{
    width:100%;
    height:auto;
    display:block;
    border-radius: 5px;
    padding-bottom: 0px;
    margin-top: 10px;
}
.logo-heading{
    float:left;
}
.logo-heading h2{
    font-size:24px;
    padding:10px !important;
}
.logo-center{
    height:350px;
    background:#b6b6b6;
    display:block;
}
.store-logo-img {
    display:block;
    margin:0px auto;
    width:16%;
    padding-top:30px;
}
.store-logo-img h3{
    text-align:center;
    font-size:18px;
    width:255px;

}
.save-logo-get-code a.button{
    height:auto !important;
    background:#ff0000 !important;
    line-height:inherit;
    padding: 9px 0 8px 0;
    margin-top:15px;
}
.logo-code h2{
    padding:10px !important;
    font-size:18px;
}
.logo-code-heading-conent{
        border-bottom: 1px solid #ccc;
}
.logo-code-heading-conent p{
    padding:0px 12px !important;
    margin: 0px 3px 25px -1px;
}

@media only screen and (max-width: 900px){

.success{
    width:20%;
}
.Expiry-date{
    width:80%;
}
.store-logo-img{
    width:100%;
    display:block;
    height:auto;
    margin:0pxa auto;
}
.store-logo-img img{
    display:block;
    margin:0px auto;
}
.store-logo-img h3{
    text-align:center;
    width:100%;
}
.save-logo-get-code a.button{
    width:100% !important;
    display:block;
    padding: 9px 0 8px 0;
}
} 
